recursive-include src/aiphoria/assets/datavisualizer *
recursive-include src/aiphoria/assets/network_graph *
recursive-include src/aiphoria/data example_scenario.xlsx

prune src/aiphoria/assets/datavisualizer/.idea
prune src/aiphoria/assets/datavisualizer/.vscode

prune src/aiphoria/assets/network_graph/.idea
prune src/aiphoria/assets/network_graph/.vscode

prune .idea
prune .vscode
prune .git

# Exclude all dotfiles globally
global-exclude .*
global-exclude __pycache__/*
global-exclude src/aiphoria/__pycache__/*
global-exclude src/aiphoria/core/__pycache__/*
