---
# https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/#workflow-definition
# Changed to build and publish 
name: Build and publish Python distribution to PyPI and TestPyPI on when new release is made

on:
  release:
    types: [published, released]

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          # ref: main  # Target branch

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"

      - name: Install pypa/build
        run: python3 -m pip install build --user

      - name: Build a binary wheel and a source tarball
        run: python3 -m build

      - name: Store a binary wheel and a source tarball
        uses: actions/upload-artifact@v5
        with:
          name: python-package-distributions
          path: dist/

  publish-to-testpypi:
    name: Publish Python distribution to TestPyPI
    #if: startsWith(github.ref, 'refs/tags/')  # Only publish to TestPyPI on tag changes
    needs:
      - build
    runs-on: ubuntu-latest

    permissions:
      id-token: write # NOTE: Mandatory for Trusted publishing

    steps:
      - name: Download all the distributions
        uses: actions/download-artifact@v6
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  publish-to-pypi:
    name: Publish Python distribution to PyPI on tag change
    #if: startsWith(github.ref, 'refs/tags/')  # Only publish to PyPI on tag changes
    needs:
      - build
    runs-on: ubuntu-latest

    permissions:
      id-token: write  # NOTE: Mandatory for Trusted publishing

    steps:
      - name: Download all the distributions
        uses: actions/download-artifact@v6
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

