---
name: Testing Python CI/CD in dev-branch

on:
  push:
    branches: [dev]
    paths-ignore:  # prevents workflow execution when only these types of files are modified
      - "**.md"  # wildcards prevent file in any repo dir from trigering workflow
      # - "**.ya?ml"  # captures both .yml and .yaml
      - "LICENSE"
      - ".gitignore"

jobs:
  release-build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]  # TODO: Check building also with windows-latest
        python-version: ['3.9']  # TODO: Add also "3.10", "3.11", "3.12", "3.13"
        # exclude:
        #   - os: macos-latest
        #     python-version: "3.11"
        #   - os: windows-latest
        #     python-version: "3.11"
    steps:
      # Checkout repo
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version}}
        uses: actions/setup-python@v5 # Version of the action, not Python
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'

      - name: Install dependencies
        run: |
          python -VV
          python -m pip install --upgrade pip setuptools wheel build twine

      - name: Build package
        run: |
          python -m build --outdir dist/

  # testpypi-publish:
  #   runs-on: ubuntu-latest
  #
  #   needs:
  #     - release-build
  #
  #   permissions:
  #     id-token: write
  #
  #   environment:
  #     name: testpypi



